.main {
  max-width: 100%;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.close {
  display: none;
  position: absolute;
  top: -1rem;
}

.navLogo {
  width: 80px;
}

.navLinks {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  background-color: #fff;
  width: 17rem;
  top: 4rem;
  gap: 1rem;
  right: 1rem;
  -webkit-box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
  padding: 2rem;
  text-transform: uppercase;
  border-radius: 20px;
  opacity: 0;
  -webkit-transform: scale(0);
  -ms-transform: scale(0);
  transform: scale(0);
  -webkit-transition: all cubic-bezier(0.23, 1, 0.32, 1) 800ms;
  transition: all cubic-bezier(0.23, 1, 0.32, 1) 800ms;
}

.navLinks a {
  text-decoration: none;
  color: #050505;
  font-family: "Inter", sans-serif;
}

.navLinks a:hover {
  font-weight: bold;
  text-decoration: underline;
}

.show {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hide {
  display: none;
}

.openNav {
  opacity: 1;
  -webkit-transform: scale(1);
  -ms-transform: scale(1);
  transform: scale(1);
}

.navBtn {
  width: 35px;
  background-color: transparent;
  border: none;
  position: relative;
  margin-right: 1rem;
}

.icons {
  display: none;
}

@media (min-width: 768px) {
  .main {
    padding: 2rem;
    justify-content: space-between;
    align-items: center;
  }

  .navBtn {
    display: none;
  }

  .navLinks {
    opacity: 1;
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
    flex-direction: row;
    width: 42rem;
    justify-content: flex-start;
    position: relative;
    top: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
    gap: 5%;
    padding: 10px 1rem;
    border-radius: 0;
  }

  .navLinks a {
    -webkit-transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 800ms;
    transition: all cubic-bezier(0.175, 0.885, 0.32, 1.275) 800ms;
  }

  .navLinks a:hover {
    font-weight: 400;
  }

  .icons {
    display: flex;
    width: 15rem;
    padding: 10px 1rem;
    justify-content: flex-start;
    align-items: center;
    gap: 3rem;
  }

  .button {
    border: none;
    background-color: transparent;
  }

  .navLinks :not(a:nth-child(-n + 4)) {
    display: none;
  }
}
